{% extends "base.html" %}


{% block title %}
<title>PMSystem</title>
{% endblock %}


{% load static %}


{% block content %}
<br>
<br>
<div class="container-fluid">
    {% for message in messages %}
    {% if "Workspace" in message.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}
        {% endif %}
        {% endfor %}
        {% if messages%}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md-9">
            <nav class="navbar">
                <h2>工作區列表</h2>
                <a class="btn btn-primary the-modal" data-toggle="modal" data-target="#NewWorkspace">
                    新增工作區
                </a>
                <div class="modal fade" id="NewWorkspace">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">新增工作區</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'CreateNewWorkspace' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>{{ new_project_form.name.label }}</label>
                                        {{ new_project_form.name }}
                                    </div>
                                    <div class="form-group">
                                        <label>{{ new_project_form.descriptions.label }}</label>
                                        {{ new_project_form.descriptions }}
                                    </div>
                                    {% for visibility in new_project_form.visibility %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        {{ visibility.tag }}
                                        <label class="custom-control-label" for="{{visibility.id_for_label}}">
                                        {% if forloop.counter0 == 0 %}
                                        {{ visibility_label.0 }}
                                        {% elif forloop.counter0 == 1 %}
                                        {{ visibility_label.1 }}
                                        {% elif forloop.counter0 == 2 %}
                                        {{ visibility_label.2 }}
                                        {% endif %}
                                        </label>
                                    </div>
                                    {% endfor %}
                                    <hr>
                                    <div class="flex justify-content-end">
                                        <input class="btn btn-success" type="submit" name="save_next" value="儲存">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <br>
            <nav class="navbar">
                <h4>我的工作區</h4>
            </nav>
            <hr class="solid mt-0">
            <div class="row">
                {% for project in my_projects %}
                <div class="col-md-4">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <h4>
                                <a href="{% url 'Workspace' project.id %}">{{ project.name }}</a>
                            </h4>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                {% endfor %}
            </div>
            <nav class="navbar">
                <h4>公共工作區</h4>
            </nav>
            <hr class="solid mt-0">
            <div class="row">
                {% for project in public_projects %}
                <div class="col-md-4">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <h4>
                                <a href="{% url 'Workspace' project.id %}">{{ project.name }}</a>
                            </h4>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                {% endfor %}
            </div>
            <nav class="navbar">
                <h4>群組工作區</h4>
            </nav>
            <hr class="solid mt-0">
            <div class="dropdown-divider"></div>
            <div class="row">
                {% for project in group_projects %}
                <div class="col-md-4">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <h4>
                                <a href="{% url 'Workspace' project.id %}">{{ project.name }}</a>
                            </h4>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md">
        </div>
    </div>
</div>
{% endblock %}