<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitLab</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: #292961">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/GitLab_Logo.png' %}" height="24" width="24">
            GitLab
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="#">Your projects</a>
                            <a class="dropdown-item" href="#">Starred projects</a>
                            <a class="dropdown-item" href="#">Explore projects</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Create blank project</a>
                            <a class="dropdown-item" href="#">import project</a>
                            <a class="dropdown-item" href="#">Create from template</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Groups
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Your groups</a>
                        <a class="dropdown-item" href="#">Explore groups</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Create group</a>
                        <a class="dropdown-item" href="#">Import group</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Activity</a>
                        <a class="dropdown-item" href="#">Milestones</a>
                        <a class="dropdown-item" href="#">Snippets</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'images/GitLab_Logo.png' %}" height="24" width="24">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">
                    Username
                    <br>
                    @Username
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Set status</a>
                <a class="dropdown-item" href="#">Edit profile</a>
                <a class="dropdown-item" href="#">Preferences</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </div>
    </nav>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md-9">
            <nav class="navbar">
                <h3>Projects</h3>
                <a class="btn btn-primary" href="#" role="button">New project</a>
            </nav>
            <div class="dropdown-divider"></div>
            <nav class="navbar">
                <div class="btn-group order-1 order-md-0" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light text-secondary active">Your projects
                        <span class="badge badge-secondary">2</span>
                    </button>
                    <button type="button" class="btn btn-light text-secondary">Starred projects
                        <span class="badge badge-secondary">0</span>
                    </button>
                    <button type="button" class="btn btn-light text-secondary">Explore projects</button>
                </div>
                <form class="form-inline order-0 order-md-1">
                    <input type="text" class="form-control" placeholder="Filter by name...">
                    &emsp;
                    <select class="custom-select">
                        <option selected>Name</option>
                        <option>...</option>
                    </select>
                    <p class="d-md-none">&emsp;</p>
                </form>
            </nav>
            <div class="dropdown-divider"></div>
            <nav class="navbar">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light text-secondary active">All</button>
                    <button type="button" class="btn btn-light text-secondary">Personal</button>
                </div>
            </nav>
            <div class="dropdown-divider"></div>
            <p></p>
            <nav class="navbar">
                <div class="navbar-brand">
                    <img src="{% static 'images/GitLab_Logo.png' %}" height="36" width="36">
                </div>
                <div class="nav-item mr-auto">
                    <a href="#" style="color: #010101">LClai/Project_Manage_System</a>
                </div>
                <div class="ml-auto">
                    update 1 weeks ago
                </div>
            </nav>
            <div class="dropdown-divider"></div>
            <nav class="navbar">
                <div class="navbar-brand">
                    <img src="{% static 'images/GitLab_Logo.png' %}" height="36" width="36">
                </div>
                <div class="nav-item mr-auto">
                    <a href="#" style="color: #010101">LClai/Ptt_stock_analysis</a>
                </div>
                <div class="ml-auto">
                    update 1 weeks ago
                </div>
            </nav>
        </div>
        <div class="col-md">
        </div>
    </div>


</div>
</body>
</html>